Flask==3.0.3
torch==2.2.1
opencv-python==4.10.0.82
mediapipe==0.10.11
numpy==1.25.2
Pillow==10.2.0
# If you use spaCy, include these models; otherwise, remove them
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl
